#
# for Linux
#
/fisheye/fisheye
/fisheye/core
/fisheye/a.out
/fisheye/*.o
/fisheye/*.dep
#
# for Mac
#
/build/
/DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
.DS_Store
#
# for Windows
#
.vs/
/x64/
/ipch/
/packages/
[Dd]ebug/
[Rr]elease/
*.com
*.exe
*.ncb
*.suo
*.sdf
*.opensdf
*.opendb
*.userosscache
*.sln.docstates
*.VC.VC.opendb
*.VC.db
Thumbs.db
#
# anothre stuff
#
*~
*.bak
*.tmp
*.swp
